.posters-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 2;
  background: #000;
}

.posters-canvas {
  display: block;
  width: 100%;
  height: 100%;
}
