
  .site-head {
    position: relative;
    z-index: 5;

    width: 100%;

    border-bottom: 1px solid color(secondary);
    opacity: 0;

    &__container {
      @include flex(row, stretch, space-between);

      width: 100%;
      height: 6rem;

      @include mq(phone) {
        height: 4rem;
      }
    }

    .sb-logo {
      padding: 1.5rem;
      width: 6rem;
      height: 6rem;

      border-right: 1px solid color(secondary);

      @include mq(tablet) {
        order: 1;
      }

      @include mq(phone) {
        padding: 1rem;
        width: 4rem;
        height: 4rem;
      }

      svg {
        width: 3rem;
        height: 3rem;

        @include mq(phone) {
          width: 1.875rem;
          height: 1.875rem;
        }
      }
    }

    .sb-console {
      @include flex(column, flex-start, flex-end);

      margin: 0 auto 0 0;
      padding: 1.5rem;

      font: 400 8px / 1.4 font-family(fraktion);
      text-transform: uppercase;
      white-space: pre-line;

      @include mq(tablet) {
        order: 2;
      }

      @include mq(tablet-sm) {
        display: none;
      }

      @keyframes site-head-caret {
        0%,
        100% {
          opacity: 1;
        }

        50% {
          opacity: 0;
        }
      }

      &__inner {
        @include flex(column, flex-start, flex-end);

        height: 5.6em;

        overflow: hidden;
      }
    }

    .sb-menu {
      border-left: 1px solid color(secondary);

      @include mq(desktop-xs) {
        padding: 0 1rem;
      }

      @include mq(tablet) {
        display: none;
      }

      .sb__list {
        @include flex(row, center, flex-start);

        margin: 0;
        padding: 0;
        height: 100%;

        list-style: none;
      }

      .sb__item {
        margin: 0;
        padding: 0;
      }

      .sb__text {
        position: relative;

        display: inline-block;

        &:before {
          position: absolute;
          top: calc(50% - 3px);
          left: -13px;

          border-top: 3px solid transparent;
          border-left: 6px solid currentcolor;
          border-bottom: 3px solid transparent;
          opacity: 0;

          content: '';
        }
      }

      a {
        display: block;
        padding: 2rem 3rem;

        color: color(secondary);
        font: 400 14px / 1 font-family(fraktion);
        letter-spacing: 0.05em;
        text-decoration: none;
        text-transform: uppercase;

        @include mq(desktop-sm) {
          padding: 2rem;
        }

        @include mq(desktop-xs) {
          padding: 2rem 1rem;
        }

        @keyframes blink-in {
          0%,
          30%,
          60% {
            opacity: 0;
          }

          15%,
          45%,
          75%,
          100% {
            opacity: 1;
          }
        }

        &:hover {
          text-shadow: 0 0 1px currentcolor;

          .sb__text:before {
            animation: blink-in 0.3s ease(in-out-expo) forwards;
          }
        }
      }
    }

    .sb-socials {
      margin: 0;
      padding: 0;

      background: linear-gradient(
        0deg,
        transparent calc(50% - 1px),
        color(secondary) calc(50% - 1px),
        color(secondary) 50%,
        transparent 50%
      );
      border-left: 1px solid color(secondary);
      list-style: none;

      @include mq(tablet) {
        order: 4;
      }

      @include mq(phone) {
        @include flex(row, center, center);

        order: 3;

        margin-left: auto;

        background: none;
        border-left: 0;
      }

      .sb__item {
        margin: 0;
        padding: 0;

        @include mq(phone) {
          @include flex(column, center, center);

          height: 100%;

          border-left: 1px solid color(secondary);
        }
      }

      .sb__icon {
        background: color(secondary);

        clip-path: var(--path);

        &:before {
          position: absolute;
          top: 0;
          left: 0;

          display: block;
          width: 100%;
          height: 100%;

          background: color(primary);
          scale: 0 1;
          transform-origin: 0 50%;

          content: '';
        }

        &--codepen {
          width: 20px;
          height: 19px;
        }

        &--linkedin {
          width: 16px;
          height: 15px;
        }
      }

      a {
        @include flex(row, center, center);

        position: relative;

        width: 48px;
        height: 48px;

        @include mq(phone) {
          height: 100%;
        }

        &:before {
          position: absolute;
          top: 0;
          left: 0;

          width: 100%;
          height: 100%;

          background: color(secondary);
          scale: 0 1;
          transform-origin: 0 50%;

          content: '';
        }

        &:hover {
          &:before {
            scale: 1 1;
          }

          .sb__icon {
            &:before {
              scale: 1 1;
            }
          }
        }
      }

      a:before,
      .sb__icon:before {
        transition: scale 0.3s ease(in-out-expo);
      }
    }

    .sb-contrast {
      @include flex(row, center, center);

      position: relative;

      width: 48px;
      height: 96px;

      appearance: none;
      background: none;
      border: 0;
      border-left: 1px solid color(secondary);
      border-radius: 0;
      cursor: pointer;

      @include mq(tablet) {
        order: 5;
      }

      @include mq(phone) {
        height: 100%;
      }

      &:before {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background: color(secondary);
        scale: 0 1;
        transform-origin: 0 50%;

        content: '';
      }

      .sb__icon {
        width: 20px;
        height: 20px;

        background: color(secondary);
        clip-path: var(--path);

        &:before {
          position: absolute;
          top: 0;
          left: 0;

          display: block;
          width: 100%;
          height: 100%;

          background: color(primary);
          scale: 0 1;
          transform-origin: 0 50%;

          content: '';
        }
      }

      &:hover {
        &:before {
          scale: 1 1;
        }

        .sb__icon {
          &:before {
            scale: 1 1;
          }
        }
      }

      &:before,
      .sb__icon:before {
        transition: scale 0.3s ease(in-out-expo);
      }
    }

    .sb-availability {
      background: linear-gradient(
        0deg,
        transparent calc(50% - 1px),
        color(secondary) calc(50% - 1px),
        color(secondary) 50%,
        transparent 50%
      );
      border-left: 1px solid color(secondary);

      font: 200 1.25rem / 48px font-family(editorial);

      @include mq(tablet) {
        order: 3;
      }

      @include mq(tablet-sm) {
        flex-grow: 1;

        border-left: 0;
      }

      @include mq(phone) {
        @include flex(column, center, center);

        flex-grow: 0;

        background: none;
        border-left: 1px solid color(secondary);
        order: 3;
      }

      p {
        margin: 0;
      }

      .sb__line {
        display: block;
        padding: 1px 1.25rem 0;
      }

      .sb__text {
        @include mq(phone) {
          display: none;
        }
      }

      a {
        position: relative;

        display: inline-block;

        color: color(secondary);
        font-weight: 400;
        text-decoration: none;

        &:before {
          position: absolute;
          bottom: calc(50% - 0.5em);
          left: 0;

          width: 100%;
          height: 1px;

          background: currentcolor;
          scale: 0 1;
          transform-origin: 100% 50%;

          transition: scale 0.3s ease(in-out-expo);

          content: '';
        }

        &:hover {
          &:before {
            scale: 1 1;
            transform-origin: 0 50%;
          }
        }
      }
    }

    .sb-qr-code {
      --bg-p: 0%;

      position: relative;

      display: block;
      padding: 0.75rem;

      border-left: 1px solid color(secondary);

      @include mq(desktop-sm) {
        display: none;
      }

      &:before {
        position: absolute;
        top: 0.75rem;
        right: 0.75rem;
        bottom: 0.75rem;
        left: 0.75rem;

        background: linear-gradient(
            180deg,
            transparent,
            transparent var(--bg-p),
            color(secondary) var(--bg-p),
            color(secondary)
          )
          top / 100% 12.5% repeat;

        content: '';
      }
    }
  }

